@media only screen and (min-device-width: 320px) and (max-device-width: 480px){}
html{
    height: 100%;

}
body{
    height: 100%;
    background-color: #F7F7F7;
}
.header-content{
    background-color: white;
}
.header-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 25%;
}
.img-div{
    height: 40px;
}
.header-div-div{
    margin-left: 5px;
    text-transform: uppercase;
    font: normal normal bold 22px/25px Montserrat;
    opacity: 1;
}
.address-span{
    color:#008CFF ;
}
.employee-span{
    color: #42515F;
}
.main-div{
    height: 60%;
    background-color: red;
    display: flex;
    justify-content: center;
    margin:60px 400px 100px 400px;
}
.form{
    background-color: white;
    width: 100%;
    height: 120%;
    
}
.person-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #008CFF;
    font: normal normal normal 28px/37px Roboto;
    color: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cross-button{
    display: flex;
    background-color: white;
    padding:6px;
    height: 15px;
    border-radius: 50%;
    margin-left: 100px;
}
.form-div{
    margin-top: 40px;
    margin-left: 80px;
    width: 80%;
}
.form-internal-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font: normal normal normal 18px/24px Roboto;
}
.label{
    font: normal normal normal 18px/24px Roboto;
    color: #42515F;
}
.input{
    display:inline-block;
    margin-top: 5px;
    height: 30px;
    padding:5px;
}
.select-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
}
.select-content{
    display: inline-block;
    margin-top: 5px;
    padding:5px;
    height: 35px;
    width:250px;
}
.zipcode-input{
    width:250px;
}
.button-div{
    margin: 10px;
    display: inline-block;
    margin-left: 650px;
}
.button{
    background-color:#E2E2E2;
    font: normal normal normal 20px/25px Montserrat;
    border: 1px solid #969696;
    border-radius: 5px;
    cursor: pointer;
    width:100px;
}
.add-button:hover{
    background-color: #008CFF;
    color: white;
}
.reset-button:hover{
    background-color: #969696;
    color: white;
}
error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}